.content {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 800px;
  margin: auto;
  font-size: 1.8rem;
  padding: 5rem 10rem;
  color: $color-blue-dark;
  background-color: #fff;
  display: flex;
  box-shadow: $box-shadow-large;
  border-radius: 5px;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  @media only screen and (max-width: $bp-medium) {
    width: 600px;
      box-shadow: $box-shadow-small;
  }

  @media only screen and (max-width: $bp-small) {
    width: 400px;
    padding: 5rem 5rem;
  }
}

.content li {
  list-style-type: none;
}

.content p {
  color: $color-blue-dark;
}